body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

.error{
    text-align: center;
    background:#ff9980;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    color:#000000;
    width: 420px;
    max-width: 100%;
    margin: 10px auto;
    cursor: pointer;
}

.form{
    width: 400px;
    max-width: 98%;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 1px 1px 3px #cccccc;
}

.field{
	background: #ffffff;
	font-size: 11px;
	text-align: left;
	border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 18px;
    box-sizing: border-box;
}

.field input, .field select{
	background: transparent;
	outline: none;
	display: block;
	border:none;
    margin: 3px 0;
    font-size: 18px;
    padding: 2px 5px;
    width: 100%;
}

.form-login{
    margin-top: 40px;
}

.menu{
    text-align: center;
    background: #f2f2f2;
    padding: 10px 0;
}

.menu a{
    display: inline-block;
    padding: 10px;
    color: #333333;
    transition: 0.1s;
    text-decoration: none;
}

.menu a:hover{
    background: #1c75bc;
    color: #ffffff;
    border-radius: 4px;
}

.bt {
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: linear-gradient(to bottom, #007dc1 5%, #1c75bc 100%);
	background-color: #1c75bc;
	border-radius: 3px;
	border: 1px solid #124d77;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 8px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
}
.bt:hover {
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color: #0061a7;
}

.home{
    text-align: center;
    margin-top: 30px;
}

.home img{
    opacity: 0.5;
}

.tabelas{
    margin: 20px auto;
    border-collapse: collapse;
}

.tabelas th{
    background: #f2f2f2;
    color: #0066cc;
    padding: 10px 18px;
}

.tabelas td{
    padding: 10px 18px;
    background: #e6f9ff;
    font-size: 15px;
}

.tabelas a{
    color: #0066cc;
    text-decoration: none;
}

.tabelas button{
    background: none;
    border: none;
    color: #0066cc;
    cursor: pointer;
    outline: none;
}

.tabelas tr:hover td{
    background: #fff7e6;
}

.none{
    display: none;
}

.center{
    text-align: center;
}

